<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622236137884-14bbvtp26e2dbl6pclsfignib5gp8nv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622236137884-14bbvtp26e2dbl6pclsfignib5gp8nv4</string>
	<key>API_KEY</key>
	<string>AIzaSyDAJ8MpjbvnVgJjIHVP0kq4GzIjRKepV6I</string>
	<key>GCM_SENDER_ID</key>
	<string>622236137884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.template</string>
	<key>PROJECT_ID</key>
	<string>template-rn-933cc</string>
	<key>STORAGE_BUCKET</key>
	<string>template-rn-933cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622236137884:ios:57e8eafb55d0032bf57059</string>
</dict>
</plist>